body,
html {
    background: #fff;
}

body {
    font: 400 14px/1.5 "Hiragino Sans GB", "WenQuanYi Micro Hei", tahoma, sans-serif;
    color: #666;
    background-color: #fff;
}

a,
a:focus {
    text-decoration: none;
    color: #66b1ff;
}

li {
    list-style: none;
}