body,
html {
    background: #fff;
}

body {
    font: 400 14px/1.5 "Hiragino Sans GB", "WenQuanYi Micro Hei", tahoma, sans-serif;
    color: #666;
    background-color: #F8F8F8;
    margin: 0;
}

a,
a:focus {
    text-decoration: none;
    color: #66b1ff;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clearfix:before {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}